label{
	font-size: 18px;
	color: #2a389e;
}
#name_news{	
	position: absolute;	
	left: 9%;	
	width: 49%;
}
#des_news{
	position: absolute;	
	left: 9%;	
	width: 49%;
}
#img{
	position: absolute;	
	left: 9%;	
	width: 49%;
}
#id_catalog{
	position: absolute;	
	left: 9%;	
}
#catalog{
	width: 49%;
}
.input_add-catalog{
	width: 500px;
}