body{
	margin: 0px;
}
#banner img{
	width: 100%;
}
#menu{
	background: linear-gradient(to bottom, #FF0000 0%, #330000 100%); 
	background: -moz-linear-gradient(to bottom, #FF0000 0%, #330000 100%); 
	background: -o-linear-gradient(to bottom, #FF0000 0%, #330000 100%); 
	background: -ms-linear-gradient(to bottom, #FF0000 0%, #330000 100%); 
	background: -webkit-linear-gradient(top, #FF0000 0%, #330000 100%);
}
#menu td{
	text-align: left;
	padding: 13px;
}
#menu td:hover{
	background-color: #558013;
}
#menu a{
	color: #28b7cc;
	text-decoration: none;
	font-size: 20px
}
#menu_left {
	position: absolute;
	background-color: #bbbaba;
	height: -webkit-fill-available;
	width: 15%;
}
#menu_left h3{
	padding-left: 68px;
	padding-top: 40px;
}
#menu_left ul{
	padding-left: 68px;
}
#menu_left li{
	padding-bottom: 14px;
}
#menu_left p{
	position: absolute;
	top: 97%;
}
#menu_left a{
	text-decoration: none;
	color: #131e73;
}
#menu_left a:hover{
	color: red;
	font-size: 24px;
}
.mySlides{
	position: relative;
	display:none;
	height: 300px;
	width: 95%;
	left: 28px;
	top: 28px;
}
#slider{
	display: inline-block;
	width: 85%;
	position: relative;
	left: 15%;
	height: 360px;
	background-color: #dcd0d0;
}
.btn_slider_left{
	outline: none;
	background-color: transparent;
	left: 27px;
	position: relative;
	top: -142px;
	border: none;
	cursor: pointer;
}
.btn_slider_right{
	outline: none;
	background-color: transparent;
	left: 27px;
	position: relative;
	top: -142px;
	border: none;
	cursor: pointer;
	left: 93.2%;
}
.news{
	position: relative;
	background-color: #dcd0d0;
	left: 15%;
	width: 85%;
}
.news img{
	display: inline-block;
	padding-left: 25px;
	padding-top: 25px;
	width: 200px;
}

.news h3{
	display: inline-block;
	padding-left: 50px;
	position: relative;
	bottom: 105px;
}

.news p{
	position: relative;
	padding-left: 279px;
	bottom: 126px;
}
.bai_viet{
	margin-top: -14px;
	background-color: #efefef;
}
.bai_viet a{
	text-decoration: none;
	color: green;
}
.bai_viet a:hover{
	color: #2196F3;
}
.pagination{
	display: inline-block;
	position: relative;
	left: 51%;
}
.header_admin{

}
.header_admin h2{
	
}